.section-padding {
  padding-top: 80px;
  padding-bottom: 80px;
}

.sub-section-padding {
  padding-top: 40px;
  padding-bottom: 40px;
}

.overlay {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
  }
}

.mb-80px {
  margin-bottom: 80px;
}
